 body{
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 .navbar{
    background-color: rgb(66, 93, 93);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
} 

.footer{
        /* position: fixed; */
        bottom:0;
        width:100%;
        background-color: rgb(66, 93, 93);
}

.p-f{
    color: white;
    padding: 0px 0px 0px 20px;
}


#costarica{
    display: none;
}
#elsalvador{
    display: none;
}
#guatemala{
    display: none;
}
#honduras{
    display: none;
}
#nicaragua{
    display: none;
}
#panama{
    display: none;
} 


button:hover{
    cursor: pointer;
}

.btn-flag{
    padding: 5px;
    border: none;
    background-color: rgb(66, 93, 93);
} 

.central-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img1{
    width: 27px;
    height: 27px;
}

.img2{
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.title{
    padding-left: 15px;
}

a{
    color: white;
    text-decoration: none;
}

.general{
    padding: 10px;
    margin: 20px;
    background-color: white;
    border: 2px solid rgb(66, 93, 93);
    border-radius: 10px;
}

.c1{
    margin: 20px;
}

.title-c{
    display: flex;
    justify-content: space-between;
}

span{
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .row {
        display: flex;   
        background-color: white;

      }
      .column {
        flex: 50%;
        padding: 16px;
        height: auto;
        background-color: white;

        /* width: 400px ; */
      }
      h1{
        font-size: 20px;
      }

      .img1{
          width: 45px;
          height: 45px;
      }

      .footer-p{
        display: flex;
        position:relative;
        justify-content: space-between;
        bottom:0;
        background-color: rgb(66, 93, 93);
        margin: 0 20px;
    }    
}

@media screen and (min-width: 890px){
    .row2 {
        display: flex;   
        background-color: white;

      }
      .column2 {
        flex: 50%;
        padding: 16px;
        height: auto;
        background-color: white;

        /* width: 400px ; */
      }

}


@media screen and (max-width: 600px) {
    p{
        font-size: 16px;
    }    
    li{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    footer{
        padding: 10px;
    }
    h1{
        font-size: 18px;
    }
}

@media screen and (min-width: 438px) {
    row {
        display: flex;   
      }

       
}
